// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    outdir = null
    taxid = null

    gene2refseq = null
    gene_info = null
    gene2pubmed = null

    chrom_sizes = null
    refgene = null
}

process {
    container = 'ghcr.io/robomics/generate_higlass_gene_track:latest'
}

