// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    outdir = 'results'
    assembly = 'sacCer3'
    taxid = '4932'

    gene2refseq = 'https://ftp.ncbi.nlm.nih.gov/gene/DATA/gene2refseq.gz'
    gene_info = 'https://ftp.ncbi.nlm.nih.gov/gene/DATA/gene_info.gz'
    gene2pubmed = 'https://ftp.ncbi.nlm.nih.gov/gene/DATA/gene2pubmed.gz'

    chrom_sizes = "https://hgdownload.cse.ucsc.edu/goldenPath/${assembly}/bigZips/${assembly}.chrom.sizes"
    refgene = "https://hgdownload.cse.ucsc.edu/goldenPath/${assembly}/database/xenoRefGene.txt.gz"
}
